body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slideshow-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slideshow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow img {
    width: 100%;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
